In [14]:
import numpy as np
import csv
import pandas as pd

In [16]:
df = pd.read_csv('valid/llt.asc', sep='$')
df

,10000001,Ventilation pneumonitis,10001890,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,N,Unnamed: 10,Unnamed: 11
0,10000002,11-beta-hydroxylase deficiency,10000002,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
1,10000003,11-oxysteroid activity incr,10033315,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
2,10000004,11-oxysteroid activity increased,10033315,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
3,10000005,17 ketosteroids urine,10000005,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,10000006,17 ketosteroids urine abnormal NOS,10061608,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
79501,10081796,Gallbladder removal,10008611,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79502,10081797,Herpetic keratouveitis,10062004,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79503,10081798,Muscular back pain,10003988,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79504,10081799,Computerized tomogram spine,10081777,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
79505,10081800,CNS vasculitis,10081778,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN

In [19]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df

       10000001             Ventilation pneumonitis  10001890  N
0      10000002      11-beta-hydroxylase deficiency  10000002  Y
1      10000003         11-oxysteroid activity incr  10033315  N
2      10000004    11-oxysteroid activity increased  10033315  Y
3      10000005               17 ketosteroids urine  10000005  Y
4      10000006  17 ketosteroids urine abnormal NOS  10061608  Y
...         ...                                 ...       ... ..
79501  10081796                 Gallbladder removal  10008611  Y
79502  10081797              Herpetic keratouveitis  10062004  Y
79503  10081798                  Muscular back pain  10003988  Y
79504  10081799         Computerized tomogram spine  10081777  Y
79505  10081800                      CNS vasculitis  10081778  Y

[79506 rows x 4 columns]

In [20]:
df.to_csv('llt.tsv', sep="\t", index = False, header=False)